/* Reset  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************************** Utility Components  *************************************************/
:root {
  font-size: 62.5%;

  /***************** Custom Properties *****************/

  /* Colors */
  --color-primary: #121211;
  --color-primary-m-light: hsla(60, 2%, 35%, 0.55);
  --color-primary-m-dark: hsla(0, 0%, 17%, 0.85);

  --color-secondary: #c60000;
  --color-secondary-m-light: hsla(0, 64%, 53%, 0.55);
  --color-secondary-m-dark: hsla(0, 85%, 23%, 0.85);

  --color-tertiary: #f7bb38;
  --color-tertiary-m-light: hsla(41, 92%, 59%, 0.55);
  --color-tertiary-m-dark: hsla(41, 92%, 59%, 0.85);

  --color-quaternary: #968d76;
  --color-quaternary-m-light: hsla(43, 13%, 53%, 0.55);
  --color-quaternary-m-dark: hsla(43, 13%, 53%, 0.85);

  --color-quinary: #c9bd9f;
  --color-quinary-m-light: hsla(43, 28%, 71%, 0.55);
  --color-quinary-m-dark: hsla(43, 28%, 71%, 0.851);
  --bg-text-color: #ffffff;
  /* Transition Duration */
  --transition-duration: 0.3s;

  /* Section Title Font Size */
  --font-size-title: calc(2.2rem + 2vw);

  /* Section Padding */
  --padding-section: 8vh 3vw;
}

html,
body {
  margin: 0;
  /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Ysabeau', sans-serif; */
  color: var(--color-primary);
  background-color: var(--color-primary-m-dark);
  /* Scroll Indicator */
  --scrollbar-height: 5px;
  --scrollbar-bg: var(--color-primary);
  --scrollbar-progress-color: var(--color-secondary);
  overflow-x: hidden;
}

body {
  position: relative;
}
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: var(--color-quaternary);
  width: 0%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* align-content: end; */
  /* padding-top: 12px; */
  min-height: 10rem;
  /* background: url('./images/LRC-LOG.svg') no-repeat; */
  /* background-color: #333; */
}

.log {
  /* background: url('./images/LRC-LOG.svg') no-repeat; */
  /* margin-top: 10px; */
  /* align-items: center; */
  margin-left: 20px;
  width: 20rem;
  /* background-size: 15em; */
  /* background-position: center; */
}

.navBar {
  display: flex;
  flex-direction: column;
  /* margin-top: 12px; */
  margin-right: 20px;
  gap: 12px;
  align-items: flex-end;
  /* align-content: space-around; */
  justify-content: flex-start;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--color-tertiary-m-dark);
}
.navBar a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  /* font-size: 1rem; */
  font-size: calc(0.4rem + 1vw);
  text-transform: uppercase;
  color: white;
}

.navBar a:hover {
  border-bottom: 0.15em solid var(--color-tertiary-m-dark);
  color: var(--color-tertiary-m-dark);
}

main {
  /***************/
  overflow-x: hidden;
  display: flex;
  /***************/
  position: relative;
  background-color: #d6d3b4;
  -webkit-overflow-scrolling: touch;
}

/***************/
h2 {
  margin-bottom: 4.5rem;
  font-size: var(--font-size-title);
}
/***************/

h3 {
  font-size: calc(1.25rem + 1.8vw);
  font-style: italic;
  margin-bottom: 2rem;
}

h4 {
  margin-top: 2rem;
  font-size: calc(0.85rem + 2vw);
}

section {
  /***************/
  min-width: 110vw;
  /* width: 100vw; */
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 4ch; */
  /***************/
  /****Scroll snap*****/
  scroll-snap-align: center;
  /****Scroll snap*****/
}
aside {
  /* padding-top: 1.5rem; */
  padding-left: 3.5rem;
  line-height: 4.5rem;
}
/* .aside-1::before {
  content: url('./images/window.mosaic.jpg');
  background-size: contain;

  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 1);
  opacity: 0.5;
} */
.aside-1 {
  background-image: url('./images/Textur_1.jpg');
  /* background-repeat: no-repeat; */
  background-blend-mode: color-burn;
  object-fit: fill;
}

.aside-2 {
  background-image: url('./images/Textur_1.jpg'),
    url('./images/octagon-mosiac.png');
  background-blend-mode: screen;
  object-fit: fill;
}

.aside-3 {
  background-image: url('./images/wood.jpg'), url('./images/mosaic.1.png');
  background-blend-mode: screen;
  object-fit: fill;
}

.aside-3::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  /* background-color: rgba(0, 0, 0, 0.25); */
  opacity: 0.5;
}

.aside-4 {
  background-image: url('./images/Wood_OSB.jpg'), url('./images/mosaic.2.png');
  background-blend-mode: overlay;

  /* background-repeat: no-repeat; */
  object-fit: fill;
}
.aside-5 {
  background-image: url('./images/red.pat.jpg');
  /* background-repeat: no-repeat; */
  object-fit: fill;
}

picture img {
  margin: 0rem 18rem 0rem 5rem;
  height: 70vh;
  width: 50vh;
  border-radius: 1.5rem;
  object-fit: cover;
}

button {
  margin-top: 5rem;
  padding: 1.5rem 1rem;
  font-size: 1.75rem;
  height: 6rem;
  width: 15rem;
  border-radius: 1.25rem;
  background-color: var(--color-quaternary);
  border: none;
  cursor: pointer;
}

button:hover {
  border: var(--color-tertiary-m-dark) solid 1px;
  background-color: var(--color-tertiary);
}

/***************/
section:nth-child(even) {
  /* background-image: url('./images/Asphalt_New.jpg'); */
  /* background-repeat: no-repeat; */
  object-fit: fill;
  /* background-size: contain; */

  /* background-color: teal; */
  /* color: white; */
}
/***************/

.copyright {
  background-color: var(--color-primary-m-dark);
  display: flex;
  justify-content: center;
  color: var(--bg-text-color);
  padding-top: 0.5rem;
  font-size: calc(0.35rem + 1vw);
}
/***************/
/*
.read-article {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  color: #000;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: arial;
  text-decoration: none;
  box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px,
  rgb(0 0 0 / 30%) 0 0 60px -15px;
}
.read-article:hover {
  background: #d5d5d5;
  box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px 0px;
}
iframe[sandbox] .read-article {
  display: none;
}
*/
/***************/

@media only screen and (min-width: 320px) and (max-width: 480px),
  (orientation: portrait) {
  main {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 10px 0 0px;
  }
  section {
    position: relative;
    scroll-snap-align: end;
    scroll-snap-stop: always;
    /* scroll-margin: 10px; */
  }

  section {
    /***************/
    min-width: 100vw;
    /* width: 100vw; */
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 4ch; */
    /***************/
    /****Scroll snap*****/
    /* scroll-snap-align: center; */
    /****Scroll snap*****/
  }
  aside {
    line-height: 2.75rem;
  }
}
