/* Reset  */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*********************************************** Utility Components  *************************************************/
:root {
  /* font-size: 62.5%; */

  /***************** Custom Properties *****************/

  /* Colors */
  --color-primary: #121211;
  --color-primary-m-light: hsla(60, 2%, 35%, 0.55);
  --color-primary-m-dark: hsla(0, 0%, 17%, 0.85);

  --color-secondary: #c60000;
  --color-secondary-m-light: hsla(0, 64%, 53%, 0.55);
  --color-secondary-m-dark: hsla(0, 85%, 23%, 0.85);

  --color-tertiary: #f7bb38;
  --color-tertiary-m-light: hsla(41, 92%, 59%, 0.55);
  --color-tertiary-m-dark: hsla(41, 92%, 59%, 0.85);

  --color-quaternary: #968d76;
  --color-quaternary-m-light: hsla(43, 13%, 53%, 0.55);
  --color-quaternary-m-dark: hsla(43, 13%, 53%, 0.85);

  --color-quinary: #c9bd9f;
  --color-quinary-m-light: hsla(43, 28%, 71%, 0.55);
  --color-quinary-m-dark: hsla(43, 28%, 71%, 0.851);
  --bg-text-color: #ffffff;

  --color-background: #f6eedf;
  --color-background-m-light: hsla(39, 56%, 92%, 0.55);
  --color-background-m-dark: hsla(39, 56%, 92%, 0.85);
  /* Transition Duration */
  --transition-duration: 0.3s;

  /* Section Title Font Size */
  --font-size-title: calc(2.2rem + 2vw);

  /* Section Padding */
  --padding-section: 8vh 3vw;
}

html,
body {
  margin: 0;
  /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Josefin Sans', sans-serif;
  /* font-family: 'Ysabeau', sans-serif; */
  color: var(--color-primary);
  background-color: var(--color-background);
  /* Scroll Indicator */
  --scrollbar-height: 5px;
  --scrollbar-bg: var(--color-primary);
  --scrollbar-progress-color: var(--color-secondary);
  overflow-x: hidden;
}

body {
  position: relative;
}
/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 8px;
  background: var(--color-quaternary);
  width: 0%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* align-content: end; */
  /* padding-top: 12px; */
  min-height: min-content;
  /* background: url('./images/LRC-LOG.svg') no-repeat; */
  /* background-color: #333; */
}

.log {
  /* background: url('./images/LRC-LOG.svg') no-repeat; */
  /* margin-top: 10px; */
  /* align-items: center; */
  margin: calc(0.02rem + 0.5vw) calc(0.02rem + 0.5vw);
  /* margin-top: calc(0.02rem + 0.5vw); */
  /* margin-left: calc(0.1rem + 1vw); */
  width: 15rem;
  /* background-size: 15em; */
  /* background-position: center; */
}

.navBar {
  display: flex;
  flex-direction: row;
  /* margin-top: 12px; */
  margin-right: 20px;
  gap: 12px;
  align-items: flex-end;
  /* align-content: space-around; */
  justify-content: flex-start;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: var(--color-tertiary-m-dark);
}
.navBar a {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  /* font-size: 1rem; */
  font-size: calc(0.4rem + 1vw);
  text-transform: uppercase;
  color: var(--color-secondary);
}

.navBar a:hover {
  border-bottom: 0.15em solid var(--color-tertiary-m-dark);
  color: var(--color-tertiary-m-dark);
}

main {
  /***************/
  overflow-x: hidden;
  display: flex;
  /***************/
  position: relative;
  background-color: #d6d3b4;
  -webkit-overflow-scrolling: touch;
  max-height: 100vh;
}

/***************/
h2 {
  margin: calc(0.05rem + 0.5vw) 0;
  /* margin-bottom: 1rem; */
  font-size: calc(1.55rem + 1.8vw);
}
/***************/

h3 {
  font-size: calc(0.85rem + 1.8vw);
  font-style: italic;
  margin: calc(1rem + 1.8vw) 0;
}

h4 {
  /* margin-top: 2rem; */
  font-size: calc(0.7rem + 1vw);
  line-height: calc(2.5rem + 0.5vw);
}

section {
  /***************/
  /* max-height: 100vh; */
  min-height: 85vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  /* font-size: 4ch; */
  /***************/
  /****Scroll snap*****/
  scroll-snap-align: start;
  /****Scroll snap*****/
  /* padding-left: 2rem; */
}
.sec-container {
  background-color: darkolivegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 900%;
}
aside {
  padding-top: 5rem;
  /* padding-left: 2.5rem; */
  /* line-height: 4.5rem; */
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #f7f438;
}

.section-1 {
  width: calc(25rem + 2vw);
  height: calc(1rem + 2vh);
  background-image: url('../images/Textur_1.jpg');
  /* background-repeat: no-repeat; */
  background-blend-mode: screen;
  object-fit: fill;
  background-color: #fdb558;
}

h2 {
  margin: calc(0.05rem + 0.5vw) 0;
  margin-bottom: 1rem;
  font-size: calc(1.55rem + 1.8vw);
}
/***************/

h3 {
  font-size: calc(0.85rem + 1.8vw);
  font-style: italic;
  /* margin: calc(0.05rem + 1.8vw) 0; */
}

h4 {
  margin-top: 1rem;
  font-size: calc(0.5rem + 1vw);
  line-height: calc(1.5rem + 0.5vw);
}

.section-2 {
  background-image: url('../images/red.cir.pat.png'),
    url('./images/octagon-mosiac.png');
  background-blend-mode: screen;
  object-fit: fill;
}

.section-3 {
  background-image: url('../images/wood.jpg'), url('./images/mosaic.1.png');
  background-blend-mode: screen;
  object-fit: fill;
}

.section-4 {
  background-image: url('../images/Wood_OSB.jpg'), url('./images/mosaic.2.png');
  background-blend-mode: overlay;

  /* background-repeat: no-repeat; */
  object-fit: fill;
}
.section-5 {
  background-image: url('../images/red.pat.jpg');
  /* background-repeat: no-repeat; */
  object-fit: fill;
}

.pic-container {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.pic-container img {
  background-color: brown;
  /* max-height: 25%; */
  margin: 0rem 4rem 0rem 4rem;
  height: 90%;
  width: 80%;
  border-radius: 1.5rem;
  /* object-fit: cover; */
}
/* picture img {
  margin: 0rem 18rem 0rem 5rem;
  height: 70vh;
  width: 50vh;
  border-radius: 1.5rem;
  object-fit: cover;
} */

button {
  margin-top: 2.5rem;
  /* padding: 1rem 0.75rem; */
  padding: calc(0.5rem + 0.5vw) calc(0.5rem + 0.5vw);
  font-size: calc(1.2rem + 0.5vw);
  height: calc(3rem + 1vw);
  width: calc(11rem + 1vw);
  border-radius: 1.75rem;
  background-color: var(--color-quaternary);
  border: none;
  cursor: pointer;
}

button:hover {
  border: var(--color-tertiary-m-dark) solid 1px;
  background-color: var(--color-tertiary);
}

.copyright {
  background-color: var(--color-primary-m-dark);
  display: flex;
  justify-content: center;
  color: var(--color-primary);
  padding-top: 0.5rem;
  font-size: calc(0.35rem + 1vw);
}
/***************/
/*
.read-article {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
  color: #000;
  background: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: arial;
  text-decoration: none;
  box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px,
  rgb(0 0 0 / 30%) 0 0 60px -15px;
}
.read-article:hover {
  background: #d5d5d5;
  box-shadow: rgb(50 50 93 / 25%) 0 0 100px -20px, rgb(0 0 0 / 30%) 0 0 60px 0px;
}
iframe[sandbox] .read-article {
  display: none;
}
*/
/***************/

@media only screen and (max-width: 280px) {
  main {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 10px 0 0px;
    height: 100vh;
  }
  .progress-container {
    display: none;
  }

  section {
    /* position: relative; */
    /* scroll-snap-align: start; */
    scroll-snap-stop: always;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* padding-left: 0.2rem; */
    /* padding-right: 0.2rem; */
  }
  .sec-container {
    background-color: darkolivegreen;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 85vh;
    width: 100%;
  }

  .section-1 {
    width: calc(10rem + 2vw);
    height: calc(10rem + 2vh);
    background-color: rgb(253, 181, 88);
  }

  aside {
    padding-top: 18rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  h2 {
    text-align: center;
    margin-bottom: 0.5rem;
  }
  h3 {
    text-align: center;
    margin-bottom: 1rem;
  }
  h4 {
    margin-top: 0.1rem;
    padding: 0 1rem;
  }

  button {
    margin: 1rem 0;
    /* padding: calc(0.2rem + 0.5vw) calc(0.2rem + 0.5vw); */
    font-size: calc(1rem + 0.5vw);
    height: calc(2rem + 1vw);
    width: calc(10rem + 1vw);
    /* border-radius: 1rem; */
    /* margin-left: 1rem; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  picture {
    /* min-width: 100vw; */
    /* margin: 0rem 18rem 0rem 5rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 30vh;
    width: 30vh;
    margin-top: 3.5rem;  */
    /* border-radius: 1.5rem; */
    /* object-fit: cover; */
  }
  picture img {
    margin: 0rem 18rem 0rem 5rem;
    height: 50vh;
    width: 30vh;
    border-radius: 2.5rem;
    object-fit: cover;
  }
  img {
    /* margin: 0rem 18rem 0rem 5rem; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: 20vh;
    width: 20vh; */
    /* border-radius: 1.5rem; */
    /* object-fit: cover; */
  }
}

/* .slider-container {
  background-image: linear-gradient(
    rgb(62, 62, 62) 10%,
    rgb(112, 112, 112) 32%,
    rgb(137, 137, 137) 52%,
    rgb(112, 112, 112) 73%,
    rgb(62, 62, 62) 96%
  );
  height: 70vh;
  display: inline-flex;
  overflow: hidden;
  /* scrollbar-width: none; */
/* transform: translateX(0); */
/* will-change: transform; */
/* transition: transform 0.3s ease-out;
  cursor: grab; */

/* } */
